docker.enabled = true

manifest {
    contributors = [    
        [
            name : "Dominik Lux",
            affiliation : "Ruhr University Bochum, Medical Proteome Center, Medical Bioinformatics",
            email : "dominik.lux@rub.de",
            contribution : ["author", "maintainer"],
            orcid : "0000-0002-7490-8260"
        ],
    ]

    defaultBranch = "main"
    description = "unbeQuant - An unknown (not identified) MS1-Feature Quantification Workflow"
    homePage = "https://github.com/mpc-bioinformatics/unbeQuant"
    license = "three-clause BSD"
    mainScript = "main_unbequant.nf"
    name = "UnbeQuant"
    
    gitmodules = true
    recurseSubmodules = true

    version = "1.0"
}

profiles {
    standard {
        // Default profile
        process { 
            // UnbeQuant
            withLabel: unbequant { container = "luxii/unbequant:${manifest.version}" }

            // ProGFASTAGen
            withLabel: progfastagen { container = "luxii/progfastagen:1.0" }
            withLabel: progfastagen_thermo_conversion { container = "quay.io/biocontainers/thermorawfileparser:1.4.3--ha8f3691_0" }
            withLabel: progfastagen_bruker_conversion { container = "mfreitas/tdf2mzml" }
            
            // XIC-Extractor
            withLabel: xic_extractor { container = "luxii/xic-extractor:1.0" } 
        }
    }

    latest {
        process {
            // UnbeQuant
            withLabel: unbequant { container = "luxii/unbequant:latest" }
            
            // ProGFASTAGen
            withLabel: progfastagen { container = "luxii/progfastagen:latest" }
            withLabel: progfastagen_thermo_conversion { container = "quay.io/biocontainers/thermorawfileparser:1.4.3--ha8f3691_0" }
            withLabel: progfastagen_bruker_conversion { container = "mfreitas/tdf2mzml" }

            // XIC-Extractor
            withLabel: xic_extractor { container = "luxii/xic-extractor:latest" } 
        }
    }

    developer {
        // profile for development
        process { 
            // UnbeQuant
            withLabel: unbequant { container = "luxii/unbequant:latest" }
            
            // ProGFASTAGen
            withLabel: progfastagen { container = "luxii/progfastagen:development" }
            withLabel: progfastagen_thermo_conversion { container = "quay.io/biocontainers/thermorawfileparser:1.4.3--ha8f3691_0" }
            withLabel: progfastagen_bruker_conversion { container = "mfreitas/tdf2mzml" }

            // XIC-Extractor
            withLabel: xic_extractor { container = "luxii/xic-extractor:development" } 
        }
    }
}
